#fondo{
  background-image: url(assets/pokeball.jpg);
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;  
  background-size: cover;        
  background-position: center;   
  height: 100vh;   
  
  
}
h1{
  
    text-align: center;
   
   
}
#mostrar{
  display: grid;
  grid-template-columns: 4fr 1fr; /* parte1 ocupa el doble que parte2 */
  gap: 20px; /* separación entre columnas */
  height: 100vh
}
#parte1{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
  

}
#parte2{

}



