#fondo{
    ;
}
#contenedor{
    width: 1000px;
    margin: auto;
}
h1{
    text-align: center;
}
#foto{
    display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#audio{
    display: flex;
  justify-content: center;
}
#buscador{
  text-align: center;
  margin-bottom: 50px;
}